@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h1>Welcome to the Best Restaurant Tracker!</h1>
</div>
<button class="btn btn-warning">@Html.ActionLink("See all cuisines", "Index", "Cuisines")</button>
<button class="btn btn-warning">@Html.ActionLink("Add a new cuisine", "Create", "Cuisines")</button>
<button class="btn btn-warning">@Html.ActionLink("See all restaurants", "Index", "Restaurants")</button>
<button class="btn btn-warning">@Html.ActionLink("Add a new restaurant", "Create", "Restaurants")</button>
